apiVersion: v1
kind: Secret
metadata:
  name: campus-secrets
  namespace: lab8
  labels:
    app: campus-connect
type: Opaque
stringData:
  # Replace with your actual MongoDB Atlas connection string
  MONGODB_URI: "mongodb+srv://campususer:<password>@cluster0.mongodb.net/campusconnect?retryWrites=true&w=majority"
